body {
	font-size: 36px;
}

select {
	font-size: 2rem;
}

button {
	font-size: 2rem;
}

#table {
	display: grid;
}

.table-row {
	display: grid;
	grid-template-columns: .5fr 1fr 1fr 1fr;
}

#cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 3fr;
	font-size: 10rem;
}

.card-and-seal {
	position: relative;
}
.seal {
	color: orangered;
	font-size: 2rem;
	position: absolute;
	top: 0;
}
.red {
	color: red;
}

.black {
	color: black;
}

.gray {
	color: gray;
}

.hidden {
	display: none !important;
}
#rules {
	display:  grid;
}
.rule {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
}
.rule div {
	border: solid;
	border-width: 1;
	border-color: lightgray;
}
.rule-point {
	display: flex;
	justify-content: center;
	align-items: center;
}
#total-point-row {
	background-color: yellow;
}
#total-point-header {
	display: flex;
	align-items: center;
}
#total-point {
	font-size: 5rem;
	color: red;
}